  {{#form-for changeset submit=(action submitAction) as |f|}}
    {{yield f}}
    <div>
      {{x-toggle
        showLabels=true
        onToggle=toggleInternalNames
        value=(readonly showInternalName)
        offLabel="Internal names "
        onLabel=""
      }}
    </div>
    <div>
    {{input-filter
      placeholder="Filter By Name"
      value=filterString
      keyUp=(action updateFilterString filterString)
    }}
  </div>
    {{#unless showLevels}}
      {{agent-properties-form changeset=changeset parameters=parameters form=f levels=(array 'basic' 'standard' 'advanced' 'expert') filter=filterString internal=showInternalNames}}
    {{else}}
      {{agent-properties-form changeset=changeset parameters=parameters form=f levels=showLevels filter=filterString internal=showInternalNames}}
    {{/unless}}
    {{#unless changeset.isInvalid}}
      {{f.submit (if submitTitle submitTitle "Update") disabled=changeset.isInvalid}}
    {{else}}
      {{f.submit "Fix issues" disabled=changeset.isInvalid}}
    {{/unless}}
  {{/form-for}}
