<td>{{one-way-checkbox isChecked update=(action toggleCheck)}}</td>
{{yield attribute}}
<td>
  {{#if attribute.isDeleted}}
    [DELETING]
  {{else}}
    {{#unless attribute.id}}
      [ADDING]
    {{else}}
      <span class="delete-attr" onClick={{action onDeleteAction attribute}}>DELETE</span>
    {{/unless}}
  {{/if}}
</td>
