{{title}} ({{attributes.length}}):
{{#if onDeleteMultipleAction}}
  {{#bs-button onClick=(action onDeleteMultipleAction)}} <span class="glyphicon glyphicon-remove" /> Delete <span class="badge">{{_checkedAttributes.length}}</span>{{/bs-button}}
{{else}}
  {{#bs-button onClick=(action 'naiveDeleteMultipleAction')}} <span class="glyphicon glyphicon-remove" /> Delete <span class="badge">{{_checkedAttributes.length}}</span>{{/bs-button}}
{{/if}}
<table border='1'>
  {{#each attributes as |attr|}}
    {{#attr-single attribute=attr onCheckAction=(action 'onCheckAction') onDeleteAction=(action onDeleteAction) as |attr|}}
      {{yield attr}}
    {{/attr-single}}
  {{else}}
    <div>{{emptyText}}</div>
  {{/each}}
</table>
