{{title}} ({{attributes.length}}):
{{#if onDeleteMultipleAction}}
  <span class='delete-attrs' onClick={{action onDeleteMultipleAction selectedAttributes}}>Delete selected</span>
{{else}}
  <span class='delete-attrs' onClick={{action 'naiveDeleteMultipleAction' selectedAttributes}}>Delete selected</span>
{{/if}}
<table border='1'>
  {{#each attributes as |attr|}}
    {{#attr-single attribute=attr onCheckAction=(action 'onCheckAction') onDeleteAction=(action onDeleteAction) as |attr|}}
      {{yield this 'show' attr}}
    {{/attr-single}}
  {{/each}}
  <tr><td>
    {{#with (changeset attr validations) as |changeset|}}
      {{#form-for changeset submit=(action 'appendCleanAction') as |f|}}
        {{yield this 'edit' changeset f}}
        {{f.submit "Append" disabled=changeset.isInvalid}}
      {{/form-for}}
    {{/with}}
  </td></tr>
</table>
