{{title}} ({{attributes.length}}): <span class='delete-attrs' onClick={{action onDeleteMultipleAction selectedAttributes}}>Delete selected</span> 
<table border='1'>
  {{#each attributes as |attr|}}
    {{attr-single attribute=attr onCheckAction=(action 'onCheckAction') onDeleteAction=(action onDeleteAction)}}
  {{/each}}
  <tr>
    <td>{{input value=attrKey}}</td>
    <td>{{input value=attrValue}}</td>
    <td class='append-attr' onClick={{action 'appendCleanAction'}}>Append</td>
  </tr>
</table>
