{{title}} ({{attributes.length}}):
{{#if onDeleteMultipleAction}}
  <span class='delete-attrs' onClick={{action onDeleteMultipleAction selectedAttributes}}>Delete selected</span>
{{else}}
  <span class='delete-attrs' onClick={{action 'naiveDeleteMultipleAction' selectedAttributes}}>Delete selected</span>
{{/if}}
<table border='1'>
  {{#each attributes as |attr|}}
    {{#attr-single attribute=attr onCheckAction=(action 'onCheckAction') onDeleteAction=(action onDeleteAction) as |attr|}}
      {{yield attr}}
    {{/attr-single}}
  {{else}}
    <div>{{emptyText}}</div>
  {{/each}}
</table>
