{{#if isCollapsable}}
  <span class='menu-item-collapse' {{action 'onSelectCollapse'}}>
    {{#if isCollapsed}}+{{else}}-{{/if}}
  </span>
{{/if}}
{{#if onCheckAction}}
  {{input type='checkbox' checked=isChecked}}
{{/if}}
{{#link-to targetRoute componentId}}{{title}}
  {{#if status}}
    [{{status}}]
  {{/if}}
{{/link-to}}

{{#unless isCollapsed}}
  {{yield}}
{{/unless}}
