{{#if isCollapsable}}
  <span class='menu-item-collapse' {{action 'onSelectCollapse'}}>
    {{#if isCollapsed}}+{{else}}-{{/if}}
  </span>
{{/if}}
{{#if onCheckAction}}
  {{one-way-checkbox isChecked update=(action toggleCheck)}}
{{/if}}

{{#unless component.isNew}}
  {{#link-to targetRoute componentId}}{{title}}
    {{#if status}}
      [{{status}}]
    {{/if}}
  {{/link-to}}
{{else}}
  {{title}}
  {{#if status}}
    [{{status}}]
  {{/if}}
{{/unless}}

{{#unless isCollapsed}}
  {{yield}}
{{/unless}}
