{{#each data as |item|}}
  {{#unless item.resources}}
    <li>
      {{#if onCheckAction}}
        {{menu-item targetRoute=targetRoute title=item.name component=item componentId=item.name status=item.status onCheckAction=(action onCheckAction)}}
      {{else}}
        {{menu-item targetRoute=targetRoute title=item.name component=item componentId=item.name status=item.status}}
      {{/if}}
    </li>
  {{else}}
    <li>
      {{#if onCheckAction}}
        {{#menu-item targetRoute=targetRoute title=item.name isCollapsable=true component=item componentId=item.name status=item.status onCheckAction=(action onCheckAction)}}
        <ul>
            {{menu-list targetRoute=targetRoute data=item.resources onCheckAction=(action onCheckAction)}}
        </ul>
        {{/menu-item}}
      {{else}}
        {{#menu-item targetRoute=targetRoute title=item.name isCollapsable=true component=item componentId=item.name status=item.status}}
        <ul>
            {{menu-list targetRoute=targetRoute data=item.resources}}
        </ul>
        {{/menu-item}}
      {{/if}}
    </li>
  {{/unless}}
{{/each}}
