<div class="col-sm-6">
  {{input-filter
    placeholder="Filter By Name"
    value=filterString
    keyUp=(action 'urlRefresh' filterString)
  }}

  <div style="float: right">
  {{x-toggle
    showLabels=true
    onToggle=(action 'toggleAdvanced')
    value=(readonly showAdvanced)
    offLabel="Show Advanced"
    onLabel=""
  }}
  </div>
  <br />

{{#form-for (changeset simpleProperties) submit=(action onSubmitAction data) as |f|}}
  {{#each data as |prop| }}
{{#if (and
  (incl prop.readableName filterString)
  (or (eq prop.advanced false) (and (eq prop.advanced true) (eq showAdvanced true)))
  )
}}
  {{#if (eq prop.type 'boolean')}}
    {{f.select-field prop.name (array
        (hash name='default' title=(concat 'default (' prop.default ')'))
        (hash name='true' title='true')
        (hash name='false' title='false'))
      fieldFocusIn=(action 'setHelp' prop.name)
      optionLabelPath='title' optionValuePath='name'
      label=prop.readableName hint=prop.shortDesc
    }}
  {{else}}
    {{#if (eq prop.type 'enum')}}
      {{f.select-field prop.name prop.enum2
        fieldFocusIn=(action 'setHelp' prop.name)
        optionLabelPath='title' optionValuePath='name'
        label=prop.readableName hint=prop.shortDesc
      }}
    {{else}}
      {{f.text-field prop.name
          fieldFocusIn=(action 'setHelp' prop.name)
          label=prop.readableName placeholder=prop.default hint=prop.shortDesc}}
    {{/if}}
  {{/if}}
{{/if}}
  {{/each}}

  {{f.submit "Save"}}
{{/form-for}}
</div>
<div class="col-sm-4">
  {{#if helpFor}}
    {{helpFor}}
  {{else}}
    Click on input box for help
  {{/if}}
</div>
