{{menu-header
  title='Fence Devices'
  data=model.cluster.firstObject.fences
  isCollapsed=false
  targetRoute='fences.show'
  onCheckAction=(route-action 'onCheck')
}}

<button {{action (route-action 'removeSelectedResources')}}>Remove selected agents</button>

<hr />
  {{#link-to 'fences.create'}}Add fence devices to the cluster{{/link-to}}
<hr />

{{#unless model.listing}}
  {{#unless model.selectedFence}}
    The fence device with ID '{{model.params.fence_id}}' was not found, please select a different fence device.
  {{/unless}}
{{/unless}}

{{#with model.selectedFence.firstObject as |selFence| }}
  <br />
  <button {{action (route-action 'removeResource') selFence.name}}>Remove agent</button>

  {{#form-for (changeset model.formData) submit=(route-action 'onSubmitAction' selFence) as |f|}}
    Name: {{ selFence.name }}<br />
    Fence Agent: <select disabled="1"><option>{{selFence.agentType}}</option></select><br />
    {{model.metadata.shortdesc}}
    <hr />
    {{agent-properties-form metadata=model.metadata form=f}}
    {{f.submit "Update"}}
  {{/form-for}}
{{/with}}
