{{menu-header
  title='Resources'
  data=model.cluster.firstObject.resources
  isCollapsed=false
  targetRoute='resources.show'
  onCheckAction=(route-action 'onCheckx')
}}

<button {{action (route-action 'removeSelectedResources')}}>Remove selected resources</button>

<hr />
{{#link-to 'resources.create'}}Add resource to the cluster{{/link-to}} <br />
{{#link-to 'resources.createGroup'}}Add resource group to the cluster{{/link-to}}
<hr />

{{#unless model.listing}}
{{#unless model.selectedResource}}
  The resource device with ID '{{model.params.resource_id}}' was not found, please select a different resource.
{{/unless}}
{{/unless}}

{{#with model.selectedResource.firstObject as |selResource| }}
  <h3>Editable form for Resource Agents</h3>
  Name: {{ selResource.name }}<br />
  Resource Provider: <select disabled="1">
    <option>{{selResource.resourceProvider}}</option>
  </select><br />
  Resource Agent: <select disabled="1">
    <option>{{selResource.resourceType}}</option>
  </select>

  <br />
  <button {{action (route-action 'removeResource') selResource.name}}>Remove resource</button>

  {{#form-for (changeset model.formData) submit=(route-action 'onSubmitAction' selResource) as |f|}}
    {{metadata.shortdesc}}
    <hr />
    {{agent-properties-form metadata=model.metadata form=f}}

    {{f.submit "Update"}}
  {{/form-for}}

  {{#attr-list
      title='Resource Location Preference'
      attributes=selResource.locationPreferences
      onDeleteAction=(route-action 'deleteAttribute')
      onAppendAction=(route-action 'appendLocationPreference')
      onDeleteMultipleAction=(route-action 'deleteAttributes')
      as |form mode attr|
  }}
    {{#if (eq mode 'edit')}}
      <td>{{input value=form.attr.node}}</td>
      <td>{{input value=form.attr.score}}</td>
    {{else}}
      <td>{{attr.node}}</td>
      <td>{{attr.score}}</td>
    {{/if}}
  {{/attr-list}}

  {{#attr-list
      title='Resource Ordering Preference'
      attributes=selResource.orderingPreferences
      onDeleteAction=(route-action 'deleteAttribute')
      onAppendAction=(route-action 'appendOrderingPreference')
      onDeleteMultipleAction=(route-action 'deleteAttributes')
      as |form mode attr|
  }}
    {{#if (eq mode 'edit')}}
      <td width="300">
        {{#power-select
          selected=attr.resource2
          options=model.otherResourcesName
          placeholder='Select a resource'
          onchange=(action (mut attr.resource2))
          allowClear=true
          as |record|
        }}
          {{record}}
        {{/power-select}}
      </td>
      <td>
        <select onchange={{action (mut form.attr.action1) value="target.value"}}>
            <option value="starts">starts</option>
            <option value="promotes">promotes</option>
            <option value="demots">demotes</option>
            <option value="stops">stops</option>
        </select>
      </td>
      <td>
        <select onchange={{action (mut form.attr.before) value="target.value"}}>
            <option value="before">before</option>
            <option value="after">after</option>
        </select>
      </td>
      <td>
        <select onchange={{action (mut form.attr.action2) value="target.value"}}>
            <option value="starts">starts</option>
            <option value="promotes">promotes</option>
            <option value="demots">demotes</option>
            <option value="stops">stops</option>
        </select>
      </td>
      <td>{{input value=form.attr.score}}</td>
    {{else}}
      <td>{{attr.resource2}}</td>
      <td>{{attr.action1}}</td>
      <td>{{attr.before}}</td>
      <td>{{attr.action2}}</td>
      <td>{{attr.score}}</td>
    {{/if}}
  {{/attr-list}}

  {{#attr-list
      title='Resource Meta Attributes'
      attributes=selResource.metaAttributes
      onDeleteAction=(route-action 'deleteAttribute')
      onAppendAction=(route-action 'appendMetaAttribute')
      onDeleteMultipleAction=(route-action 'deleteAttributes')
      as |form mode attr|
  }}
    {{#if (eq mode 'edit')}}
      <td>{{input value=form.attr.key}}</td>
      <td>{{input value=form.attr.value}}</td>
    {{else}}
      <td>{{attr.key}}</td>
      <td>{{attr.value}}</td>
    {{/if}}
  {{/attr-list}}

{{/with}}
