<div style="border: 0px solid #2222DD">
<div style="width: 100%; text-align: left; margin-bottom: 1em">
  {{#bs-button}}
    {{#link-to 'resources.create'}}Add{{/link-to}}
  {{/bs-button}}
  {{#bs-button onClick=(route-action 'removeSelectedResources')}}
    <a name="remove">Remove <span class="badge">{{model.selectedResources.length}}</span></a>
  {{/bs-button}}
  {{#bs-button}}
    {{#link-to 'resources.createGroup'}}Add Group{{/link-to}}
  {{/bs-button}}
</div>

{{menu-header
  title=''
  data=model.cluster.firstObject.resources
  isCollapsed=false
  targetRoute='resources.show'
  onCheckAction=(route-action 'onCheckx')
}}
</div>

{{#unless model.listing}}
{{#unless model.selectedResource}}
  {{#bs-alert type="danger" dismissible=0}}
  The resource device with ID '{{model.params.resource_id}}' was not found, please select a different resource.
  {{/bs-alert}}
{{/unless}}
{{/unless}}

{{#with model.selectedResource.firstObject as |selResource| }}
  <h3>Editable form for Resource Agents</h3>
  Name: {{ selResource.name }}<br />
  Resource Provider: <select disabled="1">
    <option>{{selResource.resourceProvider}}</option>
  </select><br />
  Resource Agent: <select disabled="1">
    <option>{{selResource.agentType}}</option>
  </select>

  <br />
  <button {{action (route-action 'removeResource') selResource.name}}>Remove resource</button>
  {{#if (eq selResource.resourceType 'clone')}}
    <button {{action (route-action 'removeClone') selResource.name}}>Un-clone</button>
  {{else}}
    <button {{action (route-action 'createClone') selResource.name}}>Create clone</button>
  {{/if}}

  {{#if (eq selResource.resourceType 'group')}}
    <button {{action (route-action 'removeGroup') selResource.name}}>Un-group</button>
  {{/if}}

  {{#if (eq selResource.resourceType 'masterslave')}}
    <button {{action (route-action 'removeMaster') selResource.name}}>Remove master/slave</button>
  {{else}}
    <button {{action (route-action 'createMaster') selResource.name}}>Create master/slave</button>
  {{/if}}

  {{#form-for (changeset model.formData) submit=(route-action 'onSubmitAction' selResource) as |f|}}
    {{model.metadata.shortdesc}}
    <hr />
    <!-- @todo: Update URL as in properties, only after X seconds in -->
    Filter: {{input type="text" value=filterString}} <br />
    {{agent-properties-form metadata=model.metadata form=f levels=(array 'basic' 'advanced' 'expert') filter=filterString}}

    {{f.submit "Update"}}
  {{/form-for}}

  {{#attr-list
      title='Resource Location Preference'
      attributes=selResource.locationPreferences
      onDeleteAction=(route-action 'deleteAttribute')
      onAppendAction=(route-action 'appendLocationPreference')
      onDeleteMultipleAction=(route-action 'deleteAttributes')
      as |form mode attr|
  }}
    {{#if (eq mode 'edit')}}
      <td>{{input value=form.attr.node}}</td>
      <td>{{input value=form.attr.score}}</td>
    {{else}}
      <td>{{attr.node}}</td>
      <td>{{attr.score}}</td>
    {{/if}}
  {{/attr-list}}

  {{#attr-list
      title='Resource Ordering Preference'
      attributes=selResource.orderingPreferences
      onDeleteAction=(route-action 'deleteAttribute')
      onAppendAction=(route-action 'appendOrderingPreference')
      onDeleteMultipleAction=(route-action 'deleteAttributes')
      as |form mode attr|
  }}
    {{#if (eq mode 'edit')}}
      <td width="300">
        {{#power-select
          selected=attr.resource2
          options=model.otherResourcesName
          placeholder='Select a resource'
          onchange=(action (mut attr.resource2))
          allowClear=true
          as |record|
        }}
          {{record}}
        {{/power-select}}
      </td>
      <td>
        <select onchange={{action (mut form.attr.action1) value="target.value"}}>
            <option value="starts">starts</option>
            <option value="promotes">promotes</option>
            <option value="demots">demotes</option>
            <option value="stops">stops</option>
        </select>
      </td>
      <td>
        <select onchange={{action (mut form.attr.before) value="target.value"}}>
            <option value="before">before</option>
            <option value="after">after</option>
        </select>
      </td>
      <td>
        <select onchange={{action (mut form.attr.action2) value="target.value"}}>
            <option value="starts">starts</option>
            <option value="promotes">promotes</option>
            <option value="demots">demotes</option>
            <option value="stops">stops</option>
        </select>
      </td>
      <td>{{input value=form.attr.score}}</td>
    {{else}}
      <td>{{attr.resource2}}</td>
      <td>{{attr.action1}}</td>
      <td>{{attr.before}}</td>
      <td>{{attr.action2}}</td>
      <td>{{attr.score}}</td>
    {{/if}}
  {{/attr-list}}

  {{#attr-list
      title='Resource Meta Attributes'
      attributes=selResource.metaAttributes
      onDeleteAction=(route-action 'deleteAttribute')
      onAppendAction=(route-action 'appendMetaAttribute')
      onDeleteMultipleAction=(route-action 'deleteAttributes')
      as |form mode attr|
  }}
    {{#if (eq mode 'edit')}}
      <td>{{input value=form.attr.key}}</td>
      <td>{{input value=form.attr.value}}</td>
    {{else}}
      <td>{{attr.key}}</td>
      <td>{{attr.value}}</td>
    {{/if}}
  {{/attr-list}}

{{/with}}
