{{#bs-tab as |tab|}}
{{#tab.pane title="Users & Groups"}}
{{#attr-list
    title='User Management'
    attributes=model.updatingCluster.firstObject.aclUsers
    onDeleteAction=(route-action 'delete')
    onAppendAction=(route-action 'appendUser')
    onDeleteMultipleAction=(route-action 'deleteMultiple')
    as |form mode attr f|
}}
  {{#if (eq mode 'edit')}}
    {{f.text-field 'name'}}
  {{else}}
    <td>{{attr.name}}</td>
  {{/if}}
{{/attr-list}}

{{#attr-list
    title='Group Management'
    attributes=model.updatingCluster.firstObject.aclGroups
    onDeleteAction=(route-action 'delete')
    onAppendAction=(route-action 'appendGroup')
    onDeleteMultipleAction=(route-action 'deleteMultiple')
    as |form mode attr f|
}}
  {{#if (eq mode 'edit')}}
    {{f.text-field 'name'}}
  {{else}}
    <td>{{attr.name}}</td>
  {{/if}}
{{/attr-list}}

{{/tab.pane}}
{{#tab.pane title="Roles"}}
{{#attr-list
    title='Roles'
    attributes=model.updatingCluster.firstObject.aclRoles
    onDeleteAction=(route-action 'delete')
    onAppendAction=(route-action 'appendRole')
    onDeleteMultipleAction=(route-action 'deleteMultiple')
    as |form mode attr f|
}}
  {{#if (eq mode 'edit')}}
      {{f.text-field 'name'}}
      {{f.text-field 'description'}}
  {{else}}
    <td>{{attr.name}}</td>
    <td>{{attr.description}}</td>
  {{/if}}
{{/attr-list}}

{{/tab.pane}}
{{#tab.pane title="Permissions"}}
{{#each model.updatingCluster.firstObject.aclRoles as |role|}}
  <h3>{{role.name}}</h3>

  {{#attr-list
      title=role.name
      attributes=role.permissions
      onDeleteAction=(route-action 'delete')
      onAppendAction=(route-action 'appendPermission' role.name)
      onDeleteMultipleAction=(route-action 'deleteMultiple')
      as |form mode attr f|
  }}
  {{#if (eq mode 'edit')}}
      <!-- @note: it is required to handle 'empty' value which is obtained when user does not change the option. -->
      {{f.select-field "operation" "deny read write"}}
      {{f.text-field 'xpath'}}
  {{else}}
      <td>{{attr.operation}}</td>
      <td>{{attr.xpath}}</td>
  {{/if}}
  {{/attr-list}}

{{else}}
  No Roles defined.
{{/each}}

{{/tab.pane}}
{{/bs-tab}}
