{{breadcrumb-menu active="Add Group" path=(array "cluster.index" "cluster.resources")}}

{{#with (changeset resourceForm model.validations initValidation=true) as |changeset|}}
{{#form-for changeset submit=(action 'createGroup') as |f|}}
  {{f.text-field 'groupName' label='Group Name' hint='small help'}}

<!-- computed property hack -->
{{#each allResources as |r|}} {{/each}}

AVAILABLE RESOURCES:
{{#draggable-object-target action="moveFromGroup" amount="5"}}
  {{#sortable-objects sortableObjectList=validResources sortEndAction='sortEndAction' sortingScope='a' }}
    {{#each validResources as |r|}}
      {{#draggable-object content=r isSortable=true sortingScope='a'}}
        {{#double-clickable action=(action "moveToGroup") content=r}}
          <li>{{r.name}}</li>
        {{/double-clickable}}
      {{/draggable-object}}
    {{/each}}
  {{/sortable-objects}}
{{/draggable-object-target}}

<hr>
RESOURCES IN THE GROUP:
{{#draggable-object-target action="moveToGroup" amount="5"}}
  {{#sortable-objects sortableObjectList=groupedResources sortEndAction='sortEndAction' enableSort=true useSwap=true sortingScope='b'}}
    {{#each groupedResources as |r|}}
      {{#draggable-object content=r sortingScope='b' isSortable=true}}
        {{#double-clickable action=(action "moveFromGroup") content=r}}
          <li>{{r.name}}</li>
        {{/double-clickable}}
      {{/draggable-object}}
    {{/each}}
  {{/sortable-objects}}
  Drag here to extend resource group
{{/draggable-object-target}}

{{f.submit "Create"}}
{{/form-for}}
{{/with}}
