{{#ember-wormhole to="leftmenu"}}
    {{menu-header
      title='Resources'
      data=model.updatingCluster.firstObject.resources
      isCollapsed=false
      targetRoute='cluster.resources.show'
    }}
{{/ember-wormhole}}

{{#ember-wormhole to="breadcrumb"}}
  <!-- demo of breadcrumb; @todo: create a real component if used -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">{{#link-to "cluster.properties"}}Home{{/link-to}}</li>
    <li class="breadcrumb-item">{{#link-to "cluster.resources"}}Resources{{/link-to}}</li>
    <li class="breadcrumb-item active">{{model.params.resource_id}}</li>
  </ol>
{{/ember-wormhole}}

{{#unless model.listing}}
{{#unless model.selectedResource}}
  {{#bs-alert type="danger" dismissible=0}}
  The resource device with ID '{{model.params.resource_id}}' was not found, please select a different resource.
  {{/bs-alert}}
{{/unless}}
{{/unless}}

{{#with model.selectedResource as |selResource| }}
  <h3>Editable form for Resource Agents</h3>
  Name: {{ selResource.name }}<br />
  Resource Provider: <select disabled="1">
    <option>{{selResource.resourceProvider}}</option>
  </select><br />
  Resource Agent: <select disabled="1">
    <option>{{selResource.agentType}}</option>
  </select>

  <br />
  {{#bs-button onClick=(action (route-action 'removeResource') selResource.name)}}
    Remove resource
  {{/bs-button}}
  {{#if (eq selResource.resourceType 'clone')}}
    {{#bs-button onClick=(action (route-action 'removeClone') selResource.name)}}
      Un-clone
    {{/bs-button}}
  {{else}}
    {{#bs-button onClick=(action (route-action 'createClone') selResource.name)}}
      Create clone
    {{/bs-button}}
  {{/if}}

  {{#if (eq selResource.resourceType 'group')}}
    {{#bs-button onClick=(action (route-action 'removeGroup') selResource.name)}}
      Un-group
    {{/bs-button}}
  {{/if}}

  {{#if (eq selResource.resourceType 'masterslave')}}
    {{#bs-button onClick=(action (route-action 'removeMaster') selResource.name)}}
      Remove Master/Slave
    {{/bs-button}}
  {{else}}
    {{#bs-button onClick=(action (route-action 'createMaster') selResource.name)}}
      Create Master/Slave
    {{/bs-button}}
  {{/if}}

<br /><br />
{{#bs-tab customTabs=true activeId=activeTab as |tab|}}

{{bs-nav-items tab=tab setActiveTab=(action 'setActiveTab') items=(array
  (hash name="properties" title="Properties")
  (hash name="constraints" title="Constraints")
)}}

<div class="tab-content">
{{#tab.pane elementId="properties" title="Properties"}}
{{#with (changeset model.formData model.ResourceValidations) as |changeset|}}
  {{#form-for changeset submit=(route-action 'onSubmitAction' selResource) as |f|}}
    {{model.metadata.shortdesc}}
    <hr />
    Filter: {{input type="text" value=filterString}} <br />
    {{agent-properties-form changeset=changeset parameters=model.parameters form=f levels=(array 'basic' 'advanced' 'expert' 'standard') filter=filterString}}

    {{f.submit "Update"}}
  {{/form-for}}
{{/with}}
{{/tab.pane}}
{{#tab.pane elementId="constraints" title="Constraints"}}
{{#bs-accordion selected="1" as |acc|}}
  {{#acc.item value="1" title="Resource Location Preference"}}

  {{#attr-list
      title='Resource Location Preference'
      attributes=selResource.locationPreferences
      onDeleteAction=(route-action 'deleteLocationPreference' selResource.name)
      onAppendAction=(route-action 'appendLocationPreference' selResource.name)
      onDeleteMultipleAction=(route-action 'deleteAttributes')
      as |form mode attr f|
  }}
  {{#if (eq mode 'edit')}}
    {{f.text-field 'node'}}
    {{f.text-field 'score'}}
  {{else}}
    <td>{{attr.node}}</td>
    <td>{{attr.score}}</td>
  {{/if}}
  {{/attr-list}}
  {{/acc.item}}
  {{#acc.item value="2" title="Resource Ordering Preference"}}
  {{#attr-list
      title='Resource Ordering Preference'
      attributes=selResource.orderingPreferences
      onDeleteAction=(route-action 'deleteAttribute')
      onAppendAction=(route-action 'appendOrderingPreference')
      onDeleteMultipleAction=(route-action 'deleteAttributes')
      as |form mode attr|
  }}
    {{#if (eq mode 'edit')}}
      <td width="300">
        {{#power-select
          selected=attr.resource2
          options=model.otherResourcesName
          placeholder='Select a resource'
          onchange=(action (mut attr.resource2))
          allowClear=true
          as |record|
        }}
          {{record}}
        {{/power-select}}
      </td>
      <td>
        <select onchange={{action (mut form.attr.action1) value="target.value"}}>
            <option value="starts">starts</option>
            <option value="promotes">promotes</option>
            <option value="demots">demotes</option>
            <option value="stops">stops</option>
        </select>
      </td>
      <td>
        <select onchange={{action (mut form.attr.before) value="target.value"}}>
            <option value="before">before</option>
            <option value="after">after</option>
        </select>
      </td>
      <td>
        <select onchange={{action (mut form.attr.action2) value="target.value"}}>
            <option value="starts">starts</option>
            <option value="promotes">promotes</option>
            <option value="demots">demotes</option>
            <option value="stops">stops</option>
        </select>
      </td>
      <td>{{input value=form.attr.score}}</td>
    {{else}}
      <td>{{attr.resource2}}</td>
      <td>{{attr.action1}}</td>
      <td>{{attr.before}}</td>
      <td>{{attr.action2}}</td>
      <td>{{attr.score}}</td>
    {{/if}}
  {{/attr-list}}
{{/acc.item}}
{{#acc.item value="3" title="Resource Meta Attributes"}}
  {{#attr-list
      title='Resource Meta Attributes'
      attributes=selResource.metaAttributes
      onDeleteAction=(route-action 'deleteAttribute')
      onAppendAction=(route-action 'appendMetaAttribute')
      onDeleteMultipleAction=(route-action 'deleteAttributes')
      as |form mode attr f|
  }}
    {{#if (eq mode 'edit')}}
      {{f.text-field 'key'}}
      {{f.text-field 'value'}}
    {{else}}
      <td>{{attr.key}}</td>
      <td>{{attr.value}}</td>
    {{/if}}
  {{/attr-list}}
  {{/acc.item}}
{{/bs-accordion}}

  {{/tab.pane}}
</div>
{{/bs-tab}}

{{/with}}
