{{#ember-wormhole to="leftmenu"}}
    {{menu-header
      title='Resources'
      data=model.updatingCluster.firstObject.resources
      isCollapsed=false
      targetRoute='cluster.resources.show'
    }}
{{/ember-wormhole}}

{{#ember-wormhole to="breadcrumb"}}
  <!-- demo of breadcrumb; @todo: create a real component if used -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">{{#link-to "cluster.properties"}}Home{{/link-to}}</li>
    <li class="breadcrumb-item">{{#link-to "cluster.resources"}}Resources{{/link-to}}</li>
    <li class="breadcrumb-item active">{{model.params.resource_name}}</li>
  </ol>
{{/ember-wormhole}}

{{#unless model.listing}}
{{#unless model.selectedResource}}
  {{#bs-alert type="danger" dismissible=0}}
  The resource device with ID '{{model.params.resource_name}}' was not found, please select a different resource.
  {{/bs-alert}}
{{/unless}}
{{/unless}}

{{#with model.selectedResource as |selResource| }}
  <h3>Editable form for Resource Agents</h3>
  Name: {{ selResource.name }}<br />
  Resource Provider: <select disabled="1">
    <option>{{selResource.resourceProvider}}</option>
  </select><br />
  Resource Agent: <select disabled="1">
    <option>{{selResource.agentType}}</option>
  </select>

  <br />
  {{#bs-button onClick=(action (route-action 'removeResource') selResource.name)}}
    Remove resource
  {{/bs-button}}
  {{#if (eq selResource.resourceType 'clone')}}
    {{#bs-button onClick=(action (route-action 'removeClone') selResource.name)}}
      Un-clone
    {{/bs-button}}
  {{else}}
    {{#bs-button onClick=(action (route-action 'createClone') selResource.name)}}
      Create clone
    {{/bs-button}}
  {{/if}}

  {{#if (eq selResource.resourceType 'group')}}
    {{#bs-button onClick=(action (route-action 'removeGroup') selResource.name)}}
      Un-group
    {{/bs-button}}
  {{/if}}

  {{#if (eq selResource.resourceType 'masterslave')}}
    {{#bs-button onClick=(action (route-action 'removeMaster') selResource.name)}}
      Remove Master/Slave
    {{/bs-button}}
  {{else}}
    {{#bs-button onClick=(action (route-action 'createMaster') selResource.name)}}
      Create Master/Slave
    {{/bs-button}}
  {{/if}}

<br /><br />
{{#bs-tab customTabs=true activeId=activeTab as |tab|}}

{{#if (eq selResource.resourceType 'primitive')}}
{{bs-nav-items tab=tab onSetActiveTab=(action 'setActiveTab') items=(array
  (hash name="status" title="Status")
  (hash name="properties" title="Properties")
  (hash name="constraints" title="Constraints")
  (hash name="attributes" title="Attributes")
)}}
{{else}}
{{bs-nav-items tab=tab onSetActiveTab=(action 'setActiveTab') items=(array
  (hash name="status" title="Status")
  (hash name="constraints" title="Constraints")
  (hash name="attributes" title="Attributes")
)}}
{{/if}}

<div class="tab-content">
{{#tab.pane elementId="status" title="Status"}}
  @todo DASHBOARD
{{/tab.pane}}

{{#tab.pane elementId="properties" title="Properties"}}
{{#with (changeset model.formData model.ResourceValidations) as |changeset|}}
  {{#form-for changeset submit=(route-action 'onSubmitAction' selResource) as |f|}}
    {{model.metadata.shortdesc}}
    <hr />
    Filter: {{input type="text" value=filterString}} <br />
    {{agent-properties-form changeset=changeset parameters=model.parameters form=f levels=(array 'basic' 'advanced' 'expert' 'standard') filter=filterString}}

    {{f.submit "Update"}}
  {{/form-for}}
{{/with}}
{{/tab.pane}}

{{#tab.pane elementId="constraints" title="Constraints"}}
{{#bs-accordion selected="location" as |acc|}}
  {{#acc.item value="location" title="Resource Location Preference"}}
  {{#attr-form
    visibilityTitle="Add Location Preference"
    submitTitle="Add"
    submitAction=(route-action 'addLocationPreference')
    validations=model.validations.addLocationPreference as |f|
  }}
    {{f.text-field 'node'}}
    {{f.text-field 'score'}}
  {{/attr-form}}
  {{#attr-list
      title='Resource Location Preference'
      attributes=selResource.locationPreferences
      onDeleteAction=(route-action 'deletePreference' 'DELETE_LOCATION_PREFERENCE')
      as |attr|
  }}
    <td>{{attr.node}}</td>
    <td>{{attr.score}}</td>
  {{/attr-list}}
  {{/acc.item}}

  {{#acc.item value="colocation" title="Resource Colocation Preference"}}
  {{#attr-form
    visibilityTitle="Add Colocation Preference"
    submitTitle="Add"
    submitAction=(route-action 'addColocationPreference')
    validations=model.validations.addColocationPreference as |f changeset|
  }}

  {{#dynamic-fields
    dataObject=changeset
    dataObjectKey='targetResources'
    max=1
    as |record index dynamicUpdate|
  }}
    {{f.custom-field
      (concat 'targetResources_' index)
      control='form-for-power-select'
      label='Resource Set'
      multiple=false
      placeholder='Select a resource'
      step=(map-by 'name' (without selResource model.resources))
      tabindex=record
      max=index
      pattern=(action dynamicUpdate '' index)
    }}
  {{/dynamic-fields}}

    {{f.select-field 'colocationType' 'Together Apart'}}
    {{f.text-field 'score'}}
  {{/attr-form}}

  {{#attr-form
    visibilityTitle="Add Colocation Set Preference"
    submitTitle="Add"
    submitAction=(route-action 'addSetColocationPreference')
    validations=model.validations.addSetColocationPreference as |f changeset|
  }}
    {{#warning-set data=changeset.resources selfName=selResource.name}}
      None, of your sets contain this resource. You might want to fix this
    {{/warning-set}}

    {{#dynamic-fields
      dataObject=changeset
      dataObjectKey='resources'
      as |record index dynamicUpdate|
    }}
      {{f.custom-field
        (concat 'resources_' index)
        control='form-for-power-select'
        label='Resource Set'
        multiple=true
        placeholder='Select resources'
        step=(map-by 'name' model.resources)
        tabindex=record
        max=index
        pattern=(action dynamicUpdate '' index)
      }}
    {{/dynamic-fields}}
  {{/attr-form}}

  {{#attr-list
    title='Resource Colocation Preference'
    attributes=selResource.colocationPreferences
    onDeleteAction=(route-action 'deletePreference' 'DELETE_COLOCATION_PREFERENCE')
    as |attr|
  }}
    <td>{{attr.targetResource}}</td>
    <td>{{attr.colocationType}}</td>
    <td>{{attr.score}}</td>
  {{/attr-list}}
  {{#display-constraint-set
    title='Resource Set Colocation Preferences'
    resource=selResource
    attributes=(filter-by 'type' 'col' model.updatingCluster.firstObject.constraintSets)
    onDeleteAction=(route-action 'deletePreference' 'DELETE_SET_COLOCATION_PREFERENCE')
    onAppendAction=(route-action 'addOrderingPreference')
    as |attr|}}
    <td>
      {{#each attr.resourceSets as |rs|}}
        {{#each rs.resources as |rr| }}
          {{rr.name}}
        {{/each}} <br />
      {{/each}}
    </td>
  {{/display-constraint-set}}
  {{/acc.item}}

  {{#acc.item value="ordering" title="Resource Ordering Preference"}}
  {{#attr-form
    visibilityTitle="Add Ordering Preference"
    submitTitle="Add"
    submitAction=(route-action 'addOrderingPreference')
    validations=model.validations.addOrderingPreference as |f changeset|
  }}
    {{#dynamic-fields
      dataObject=changeset
      dataObjectKey='targetResources'
      max=1
      as |record index dynamicUpdate|
    }}
      {{f.custom-field
        (concat 'targetResources_' index)
        control='form-for-power-select'
        label='Resource Set'
        multiple=false
        placeholder='Select a resource'
        step=(map-by 'name' (without selResource model.resources))
        tabindex=record
        max=index
        pattern=(action dynamicUpdate '' index)
      }}
    {{/dynamic-fields}}
    {{f.select-field 'targetAction' 'starts promotes demotes stops'}}
    {{f.select-field 'order' 'before after'}}
    {{f.select-field 'action' 'starts promotes demotes stops'}}
    {{f.text-field 'score'}}
  {{/attr-form}}

  {{#attr-form
    visibilityTitle="Add Ordering Set Preference"
    submitTitle="Add"
    submitAction=(route-action 'addSetOrderingPreference')
    validations=model.validations.addSetOrderingPreference as |f changeset|
  }}
    {{#warning-set data=changeset.resources selfName=selResource.name}}
      None, of your sets contain this resource. You might want to fix this
    {{/warning-set}}

    {{#dynamic-fields
      dataObject=changeset
      dataObjectKey='resources'
      as |record index dynamicUpdate|
    }}
      {{f.custom-field
        (concat 'resources_' index)
        control='form-for-power-select'
        label='Resource Set'
        multiple=true
        placeholder='Select resources'
        step=(map-by 'name' model.resources)
        tabindex=record
        max=index
        pattern=(action dynamicUpdate '' index)
      }}
    {{/dynamic-fields}}
  {{/attr-form}}

  {{#attr-list
      title='Resource Ordering Preference'
      attributes=selResource.orderingPreferences
      onDeleteAction=(route-action 'deletePreference' 'DELETE_ORDERING_PREFERENCE')
      onAppendAction=(route-action 'addOrderingPreference')
      as |attr|
  }}
    <td>{{attr.targetResource}}</td>
    <td>{{attr.targetAction}}</td>
    <td>{{attr.order}}</td>
    <td>{{attr.action}}</td>
    <td>{{attr.score}}</td>
  {{/attr-list}}

  {{#display-constraint-set
    title='Resource Set Ordering Preferences'
    resource=selResource
    attributes=(filter-by 'type' 'ord' model.updatingCluster.firstObject.constraintSets)
    onDeleteAction=(route-action 'deletePreference' 'DELETE_SET_ORDERING_PREFERENCE')
    onAppendAction=(route-action 'addOrderingPreference')
    as |attr|}}
    <td>
      {{#each attr.resourceSets as |rs|}}
        {{#each rs.resources as |rr| }}
          {{rr.name}}
        {{/each}} <br />
      {{/each}}
    </td>
  {{/display-constraint-set}}
  {{/acc.item}}

  {{#acc.item value="ticket" title="Resource Ticket Preferences"}}
  {{#attr-form
    visibilityTitle="Add Ticket Preference"
    submitTitle="Add"
    submitAction=(route-action 'addTicketPreference')
    validations=model.validations.addTicketPreference as |f changeset|
  }}
    {{f.text-field 'ticket'}}
    {{f.select-field 'role' prompt=' ' promptIsSelectable=true options='Stopped Started Master Slave'}}
    {{f.select-field 'lossPolicy' prompt=' ' promptIsSelectable=true options='fence stop freeze demote'}}
  {{/attr-form}}
  {{#attr-form
    visibilityTitle="Add Ticket Set Preference"
    submitTitle="Add"
    submitAction=(route-action 'addSetTicketPreference')
    validations=model.validations.addSetTicketPreference as |f changeset|
  }}
    {{f.text-field 'ticketName' label='Ticket'}}
    {{f.select-field 'lossPolicy' prompt=' ' promptIsSelectable=true options='fence stop freeze demote'}}

    {{#warning-set data=changeset.resources selfName=selResource.name}}
      None, of your sets contain this resource. You might want to fix this
    {{/warning-set}}

    {{#dynamic-fields
      dataObject=changeset
      dataObjectKey='resources'
      as |record index dynamicUpdate|
    }}
      {{f.custom-field
        (concat 'resources_' index)
        control='form-for-power-select'
        label='Resource Set'
        multiple=true
        placeholder='Select resources'
        step=(map-by 'name' model.resources)
        tabindex=record
        max=index
        pattern=(action dynamicUpdate '' index)
      }}
    {{/dynamic-fields}}
  {{/attr-form}}

  {{#attr-list
    title='Resource Ticket Preferences'
    attributes=selResource.ticketPreferences
    onDeleteAction=(route-action 'deletePreference' 'DELETE_TICKET_PREFERENCE')
    as |attr|
  }}
    <td>{{attr.ticket}}</td>
    <td>{{attr.role}}</td>
    <td>{{attr.lossPolicy}}</td>
  {{/attr-list}}
  {{#display-constraint-set
    title='Resource Set Ticket Preferences'
    resource=selResource
    attributes=(filter-by 'type' 'ticket' model.updatingCluster.firstObject.constraintSets)
    onDeleteAction=(route-action 'deletePreference' 'DELETE_SET_TICKET_PREFERENCE')
    onAppendAction=(route-action 'addOrderingPreference')
    as |attr|}}
    <td>
      [[ticket: {{attr.ticket}}; policy: {{attr.lossPolicy}}]] <br />
      {{#each attr.resourceSets as |rs|}}
        {{#each rs.resources as |rr| }}
          {{rr.name}}
        {{/each}} <br />
      {{/each}}
    </td>
  {{/display-constraint-set}}
  {{/acc.item}}
{{/bs-accordion}}
{{/tab.pane}}

  {{#tab.pane elementId="attributes" title="Attributes"}}
  {{#bs-accordion selected="meta" as |acc|}}
  {{#acc.item value="meta" title="Resource Meta Attributes"}}
    {{#attr-form
      visibilityTitle="Add Meta Attribute"
      submitTitle="Add"
      submitAction=(route-action 'addMetaAttribute')
      validations=model.validations.addMetaAttribute as |f|
    }}
      {{f.text-field 'key'}}
      {{f.text-field 'value'}}
    {{/attr-form}}
    {{#attr-list
        title='Resource Meta Attributes'
        attributes=selResource.metaAttributes
        onDeleteAction=(route-action 'deletePreference' 'DELETE_META_ATTRIBUTE')
        as |attr|
    }}
        <td>{{attr.key}}</td>
        <td>{{attr.value}}</td>
    {{/attr-list}}
    {{/acc.item}}

    {{#acc.item value="utilization" title="Resource Utilization Attributes"}}
      {{#attr-form
        visibilityTitle="Add Utilization Attribute"
        submitTitle="Add"
        submitAction=(route-action 'addUtilizationAttribute')
        validations=model.validations.addUtilizationAttribute as |f|
      }}
        {{f.text-field 'name'}}
        {{f.text-field 'value'}}
      {{/attr-form}}

      {{#attr-list
          title='Resource Utilization Attributes'
          attributes=selResource.utilizationAttributes
          onDeleteAction=(route-action 'deletePreference' 'DELETE_UTILIZATION_ATTRIBUTE')
          as |attr|
      }}
        <td>{{attr.name}}</td>
        <td>{{attr.value}}</td>
      {{/attr-list}}
      {{/acc.item}}
    {{/bs-accordion}}
    {{/tab.pane}}
</div>
{{/bs-tab}}

{{/with}}
