{{#ember-wormhole to="leftmenu"}}
    {{menu-header
      title='Resources'
      data=model.updatingCluster.firstObject.resources
      isCollapsed=false
      targetRoute='cluster.resources.show'
    }}
{{/ember-wormhole}}

{{#ember-wormhole to="breadcrumb"}}
  <!-- demo of breadcrumb; @todo: create a real component if used -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">{{#link-to "cluster.properties"}}Home{{/link-to}}</li>
    <li class="breadcrumb-item">{{#link-to "cluster.resources"}}Resources{{/link-to}}</li>
    <li class="breadcrumb-item active">{{model.params.resource_id}}</li>
  </ol>
{{/ember-wormhole}}

{{#unless model.listing}}
{{#unless model.selectedResource}}
  {{#bs-alert type="danger" dismissible=0}}
  The resource device with ID '{{model.params.resource_id}}' was not found, please select a different resource.
  {{/bs-alert}}
{{/unless}}
{{/unless}}

{{#with model.selectedResource as |selResource| }}
  <h3>Editable form for Resource Agents</h3>
  Name: {{ selResource.name }}<br />
  Resource Provider: <select disabled="1">
    <option>{{selResource.resourceProvider}}</option>
  </select><br />
  Resource Agent: <select disabled="1">
    <option>{{selResource.agentType}}</option>
  </select>

  <br />
  {{#bs-button onClick=(action (route-action 'removeResource') selResource.name)}}
    Remove resource
  {{/bs-button}}
  {{#if (eq selResource.resourceType 'clone')}}
    {{#bs-button onClick=(action (route-action 'removeClone') selResource.name)}}
      Un-clone
    {{/bs-button}}
  {{else}}
    {{#bs-button onClick=(action (route-action 'createClone') selResource.name)}}
      Create clone
    {{/bs-button}}
  {{/if}}

  {{#if (eq selResource.resourceType 'group')}}
    {{#bs-button onClick=(action (route-action 'removeGroup') selResource.name)}}
      Un-group
    {{/bs-button}}
  {{/if}}

  {{#if (eq selResource.resourceType 'masterslave')}}
    {{#bs-button onClick=(action (route-action 'removeMaster') selResource.name)}}
      Remove Master/Slave
    {{/bs-button}}
  {{else}}
    {{#bs-button onClick=(action (route-action 'createMaster') selResource.name)}}
      Create Master/Slave
    {{/bs-button}}
  {{/if}}

<br /><br />
{{#bs-tab customTabs=true activeId=activeTab as |tab|}}

{{#if (eq selResource.resourceType 'primitive')}}
{{bs-nav-items tab=tab setActiveTab=(action 'setActiveTab') items=(array
  (hash name="properties" title="Properties")
  (hash name="constraints" title="Constraints")
  (hash name="attributes" title="Attributes")
)}}
{{else}}
{{bs-nav-items tab=tab setActiveTab=(action 'setActiveTab') items=(array
  (hash name="constraints" title="Constraints")
  (hash name="attributes" title="Attributes")
)}}
{{/if}}

<div class="tab-content">
{{#tab.pane elementId="properties" title="Properties"}}
{{#with (changeset model.formData model.ResourceValidations) as |changeset|}}
  {{#form-for changeset submit=(route-action 'onSubmitAction' selResource) as |f|}}
    {{model.metadata.shortdesc}}
    <hr />
    Filter: {{input type="text" value=filterString}} <br />
    {{agent-properties-form changeset=changeset parameters=model.parameters form=f levels=(array 'basic' 'advanced' 'expert' 'standard') filter=filterString}}

    {{f.submit "Update"}}
  {{/form-for}}
{{/with}}
{{/tab.pane}}
{{#tab.pane elementId="constraints" title="Constraints"}}
{{#bs-accordion selected="location" as |acc|}}
  {{#acc.item value="location" title="Resource Location Preference"}}

  {{#attr-list
      title='Resource Location Preference'
      attributes=selResource.locationPreferences
      onDeleteAction=(route-action 'deleteLocationPreference' selResource.name)
      onAppendAction=(route-action 'appendLocationPreference' selResource.name)
      onDeleteMultipleAction=(route-action 'deleteAttributes')
      validations=model.ScoreValidations
      as |form mode attr f|
  }}
  {{#if (eq mode 'edit')}}
    {{f.text-field 'node'}}
    {{f.text-field 'score'}}
  {{else}}
    <td>{{attr.node}}</td>
    <td>{{attr.score}}</td>
  {{/if}}
  {{/attr-list}}
  {{/acc.item}}
  {{#acc.item value="colocation" title="Resource Colocation Preference"}}

  {{#attr-list
      title='Resource Colocation Preference'
      attributes=selResource.colocationPreferences
      onDeleteAction=(route-action 'deleteColocationPreference' selResource.name)
      onAppendAction=(route-action 'appendColocationPreference' selResource.name)
      onDeleteMultipleAction=(route-action 'deleteAttributes')
      validations=model.ScoreValidations
      as |form mode attr f|
  }}
  {{#if (eq mode 'edit')}}
    {{#power-select
      selected=attr.targetResource
      options=model.otherResourcesName
      placeholder='Select a resource'
      onchange=(action (mut attr.targetResource))
      allowClear=false
      as |record|
    }}
      {{record}}
    {{/power-select}}

    {{f.select-field 'colocationType' 'Together Apart'}}
    {{f.text-field 'score'}}
  {{else}}
    <td>{{attr.targetResource}}</td>
    <td>{{attr.colocationType}}</td>
    <td>{{attr.score}}</td>
  {{/if}}
  {{/attr-list}}
  {{/acc.item}}
  {{#acc.item value="ordering" title="Resource Ordering Preference"}}
  {{#attr-list
      title='Resource Ordering Preference'
      attributes=selResource.orderingPreferences
      onDeleteAction=(route-action 'deleteOrderingPreference' selResource.name)
      onAppendAction=(route-action 'appendOrderingPreference' selResource.name)
      onDeleteMultipleAction=(route-action 'deleteAttributes')
      as |form mode attr f|
  }}
    {{#if (eq mode 'edit')}}
      {{#power-select
        selected=attr.targetResource
        options=model.otherResourcesName
        placeholder='Select a resource'
        onchange=(action (mut attr.targetResource))
        allowClear=true
        as |record|
      }}
        {{record}}
      {{/power-select}}

      {{f.select-field 'targetAction' 'starts promotes demotes stops'}}
      {{f.select-field 'order' 'before after'}}
      {{f.select-field 'action' 'starts promotes demotes stops'}}
      {{f.text-field 'score'}}
    {{else}}
      <td>{{attr.targetResource}}</td>
      <td>{{attr.targetAction}}</td>
      <td>{{attr.order}}</td>
      <td>{{attr.action}}</td>
      <td>{{attr.score}}</td>
    {{/if}}
  {{/attr-list}}
{{/acc.item}}
{{#acc.item value="ticket" title="Resource Ticket Preferences"}}
{{#attr-list
    title='Resource Ticket Preferences'
    attributes=selResource.ticketPreferences
    onDeleteAction=(route-action 'deleteTicketPreference' selResource.name)
    onAppendAction=(route-action 'appendTicketPreference' selResource.name)
    onDeleteMultipleAction=(route-action 'deleteAttributes')
    as |form mode attr f|
}}
{{#if (eq mode 'edit')}}
  {{f.text-field 'ticket'}}
  {{f.select-field 'role' prompt=' ' promptIsSelectable=true options='Stopped Started Master Slave'}}
  {{f.select-field 'lossPolicy' prompt=' ' promptIsSelectable=true options='fence stop freeze demote'}}
{{else}}
  <td>{{attr.ticket}}</td>
  <td>{{attr.role}}</td>
  <td>{{attr.lossPolicy}}</td>
{{/if}}
{{/attr-list}}
{{/acc.item}}
{{/bs-accordion}}
  {{/tab.pane}}
  {{#tab.pane elementId="attributes" title="Attributes"}}
  {{#bs-accordion selected="meta" as |acc|}}
  {{#acc.item value="meta" title="Resource Meta Attributes"}}
    {{#attr-list
        title='Resource Meta Attributes'
        attributes=selResource.metaAttributes
        onDeleteAction=(route-action 'deleteMetaAttribute' selResource.name)
        onAppendAction=(route-action 'appendMetaAttribute' selResource.name)
        onDeleteMultipleAction=(route-action 'deleteAttributes')
        as |form mode attr f|
    }}
      {{#if (eq mode 'edit')}}
        {{f.text-field 'key'}}
        {{f.text-field 'value'}}
      {{else}}
        <td>{{attr.key}}</td>
        <td>{{attr.value}}</td>
      {{/if}}
    {{/attr-list}}
    {{/acc.item}}
    {{#acc.item value="utilization" title="Resource Utilization Attributes"}}
      {{#attr-list
          title='Resource Utilization Attributes'
          attributes=selResource.utilizationAttributes
          onDeleteAction=(route-action 'deleteUtilizationAttribute' selResource.name)
          onAppendAction=(route-action 'appendUtilizationAttribute' selResource.name)
          onDeleteMultipleAction=(route-action 'deleteAttributes')
          as |form mode attr f|
      }}
        {{#if (eq mode 'edit')}}
          {{f.text-field 'name'}}
          {{f.text-field 'value'}}
        {{else}}
          <td>{{attr.name}}</td>
          <td>{{attr.value}}</td>
        {{/if}}
      {{/attr-list}}
      {{/acc.item}}
    {{/bs-accordion}}
    {{/tab.pane}}
</div>
{{/bs-tab}}

{{/with}}
