{{menu-header
  title='Nodes'
  data=model.cluster.firstObject.nodes
  onCheckAction=(action 'onCheck')
  isCollapsed=false
  targetRoute='nodes.show'
}}

<hr />
{{#link-to 'nodes.create'}}Add computer node to the cluster{{/link-to}}
<hr />

{{#with model.selectedNode.firstObject as |selectedNode| }}
  <h3>Editable form for Nodes</h3>
  Name: {{ selectedNode.name }} {{ selectedNode.id}} <br />

  Actions:
  <ul>
    <li {{action 'nodeAction' 'start' selectedNode}}> Start Node </li>
    <li {{action 'nodeAction' 'stop' selectedNode}}> Stop Node </li>
    <li {{action 'nodeAction' 'reboot' selectedNode}}> Reboot Node </li>
  </ul>

  Cluster daemons:
  <ul>
    <li> Corosync: {{format-running selectedNode.isCorosyncRunning}} ( {{format-enabled selectedNode.isCorosyncEnabled}} ) </li>
    <li> Pacemaker: {{format-running selectedNode.isPacemakerRunning}} ( {{format-enabled selectedNode.isPacemakerEnabled}} ) </li>
    <li> Corosync: {{format-running selectedNode.isPcsdRunning}} ( {{format-enabled selectedNode.isPcsdEnabled}} ) </li>
  </ul>

  {{#attr-list title='Node Attributes' attributes=selectedNode.nodeAttributes onDeleteAction=(action 'deleteNodeAttribute') onAppendAction=(action 'appendNodeAttribute') onDeleteMultipleAction=(action 'deleteMultipleAttributes') as |form mode attr|}}
    {{#if (eq mode 'edit')}}
      <td>{{input value=form.attr.key}}</td>
      <td>{{input value=form.attr.value}}</td>
    {{else}}
      <td>{{attr.key}}</td>
      <td>{{attr.value}}</td>
    {{/if}}
  {{/attr-list}}

  {{#attr-list title='Node Utilization Attributes' attributes=selectedNode.nodeUtilizationAttributes onDeleteAction=(action 'deleteNodeAttribute') onAppendAction=(action 'appendNodeUtilizationAttribute')  onDeleteMultipleAction=(action 'deleteMultipleAttributes') as |form mode attr|}}
    {{#if (eq mode 'edit')}}
      <td>{{input value=form.attr.key}}</td>
      <td>{{input value=form.attr.value}}</td>
    {{else}}
      <td>{{attr.key}}</td>
      <td>{{attr.value}}</td>
    {{/if}}
  {{/attr-list}}
{{else}}
  {{#if mode.params.node_id}}
    Node with ID '{{model.params.node_id}}' was not found, please select a different node.
  {{/if}}
{{/with}}
