{{#ember-wormhole to="leftmenu"}}
    {{menu-header
      title='Nodes'
      data=model.updatingCluster.firstObject.nodes
      isCollapsed=false
      targetRoute='cluster.nodes.show'
    }}
{{/ember-wormhole}}

{{breadcrumb-menu active=model.params.node_name path=(array "cluster.index" "cluster.nodes")}}

{{#unless model.selectedNode}}
  {{#bs-alert type="danger" dismissible=0}}
  The resource device with ID '{{model.params.node_name}}' was not found, please select a different fence agent.
  {{/bs-alert}}
{{/unless}}

{{#with model.selectedNode as |selNode| }}
  <h3>Editable form for Nodes</h3>
  Name: {{ selNode.name }}<br />

  <br />
  {{#bs-button onClick=(action (route-action 'removeNode') selNode)}}
    Remove node
  {{/bs-button}}
  <br /><br />

{{#bs-tab customTabs=true activeId=activeTab as |tab|}}

{{bs-nav-items tab=tab onSetActiveTab=(action 'setActiveTab') items=(array
  (hash name="status" title="Status")
  (hash name="attributes" title="Attributes")
)}}
<div class="tab-content">
  {{#tab.pane elementId="status" title="Status"}}
  Actions:
  <ul>
    <li {{action (route-action 'nodeAction' 'start' selNode)}}> Start Node </li>
    <li {{action (route-action 'nodeAction' 'stop' selNode)}}> Stop Node </li>
    <li {{action (route-action 'nodeAction' 'reboot' selNode)}}> Reboot Node </li>
  </ul>

  Cluster daemons:
  <ul>
    <li> Corosync: {{format-running selNode.isCorosyncRunning}} ( {{format-enabled selNode.isCorosyncEnabled}} ) </li>
    <li> Pacemaker: {{format-running selNode.isPacemakerRunning}} ( {{format-enabled selNode.isPacemakerEnabled}} ) </li>
    <li> Corosync: {{format-running selNode.isPcsdRunning}} ( {{format-enabled selNode.isPcsdEnabled}} ) </li>
  </ul>
  {{/tab.pane}}

  {{#tab.pane elementId="attributes" title="Attributes"}}
  {{#bs-accordion selected="meta" as |acc|}}
    {{#acc.item value="meta" title="Node Utilization Attributes"}}
      {{#attr-form
        visibilityTitle="Node Utilization Attribute"
        submitTitle="Add"
        submitAction=(route-action 'appendNodeUtilizationAttribute')
        validations=model.validations.addNodeUtilizationAttribute as |f|
      }}
        {{f.text-field 'name'}}
        {{f.text-field 'value'}}
      {{/attr-form}}
      {{#attr-list
          title='Node Utilization Attributes'
          attributes=selNode.nodeUtilizationAttributes
          onDeleteAction=(route-action 'deleteNodeAttribute' 'DELETE_NODE_UTILIZATION_ATTRIBUTE')
          as |attr|
      }}
          <td>{{attr.name}}</td>
          <td>{{attr.value}}</td>
      {{/attr-list}}
      {{/acc.item}}
    {{/bs-accordion}}
  {{/tab.pane}}
  </div>
  {{/bs-tab}}
{{/with}}
