{{#bs-tab customTabs=true activeId=activeTab as |tab|}}

{{bs-nav-items tab=tab onSetActiveTab=(action 'setActiveTab') items=(array
  (hash name="roles" title="Roles")
  (hash name="permissions" title="Permissions")
)}}

<div class="tab-content">
{{#tab.pane elementId="roles" title="Roles"}}
{{#attr-form
  visibilityTitle="Add Role"
  submitTitle="Add"
  submitAction=(route-action 'addRole')
  validations=model.validations.addRole as |f changeset|
}}
  {{f.text-field 'name'}}
  {{f.text-field 'description'}}
{{/attr-form}}

{{#attr-list
    title='Roles'
    attributes=model.updatingCluster.firstObject.aclRoles
    onDeleteAction=(route-action 'delete' 'DELETE_ACL_ROLE')
    validations=model.nameValidation
    as |attr|
}}
    <td>
      {{#if attr.id}}
        {{#link-to "cluster.acl.role" attr.name}}{{attr.name}}{{/link-to}}
      {{else}}
        {{attr.name}}
      {{/if}}
</td>
    <td>{{attr.description}}</td>
{{/attr-list}}

{{/tab.pane}}
{{#tab.pane elementId="permissions" title="Permissions"}}
{{#each model.updatingCluster.firstObject.aclRoles as |role|}}
  <h3>{{role.name}}</h3>

  {{#attr-list
      title=role.name
      attributes=role.permissions
      onDeleteAction=(route-action 'delete')
      onDeleteMultipleAction=(route-action 'deleteMultiple')
      validations=model.xpathValidation
      as |form mode attr f|
  }}
    <td>{{attr.operation}}</td>
    <td>{{attr.xpath}}</td>
    <td>{{attr.query}}</td>
  {{/attr-list}}

{{else}}
  No Roles defined.
{{/each}}

{{/tab.pane}}
</div>
{{/bs-tab}}
