{{#ember-wormhole to="leftmenu"}}
    {{filter-list
      data=model.updatingCluster.firstObject.aclRoles
      targetRoute='cluster.acl.role'
      showFilter=true
      titleKey='name'
      idKey='name'
    }}
{{/ember-wormhole}}

{{#ember-wormhole to="breadcrumb"}}
  <!-- demo of breadcrumb; @todo: create a real component if used -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">{{#link-to "cluster.properties"}}Home{{/link-to}}</li>
    <li class="breadcrumb-item">{{#link-to "cluster.acl"}}ACL{{/link-to}}</li>
    <li class="breadcrumb-item active">{{model.params.role_name}}</li>
  </ol>
{{/ember-wormhole}}

<h3>{{model.aclRole.name}}</h3>
<p>{{model.aclRole.description}}</p>

{{#unless model.aclRole}}
  {{#bs-alert type="danger" dismissible=0}}
  The ACL role with ID '{{model.params.role_name}}' was not found, please select a proper ACL role.
  {{/bs-alert}}
{{else}}

{{#bs-tab customTabs=true activeId=activeTab as |tab|}}
{{bs-nav-items tab=tab onSetActiveTab=(action 'setActiveTab') items=(array
  (hash name="users" title="Users & Groups")
  (hash name="permissions" title="Permissions")
)}}

{{#with (find-by 'name' model.aclRole.name model.updatingCluster.firstObject.aclRoles) as |updatingRole|}}
<div class="tab-content">
{{#tab.pane elementId="users" title="Users & Groups"}}
{{#attr-form
  visibilityTitle="Add User"
  submitTitle="Add"
  submitAction=(route-action 'addUser')
  validations=model.validations.addUser as |f|
}}
  {{f.text-field 'name'}}
{{/attr-form}}
{{#attr-list
  title='Users'
  attributes=updatingRole.users
  onDeleteAction=(route-action 'deleteUser' 'DELETE_ACL_USER_FROM_ROLE')
  as |attr|
}}
  <td>{{attr.name}}</td>
{{/attr-list}}

{{#attr-form
  visibilityTitle="Add Group"
  submitTitle="Add"
  submitAction=(route-action 'addGroup')
  validations=model.validations.addGroup as |f|
}}
  {{f.text-field 'name'}}
{{/attr-form}}
{{#attr-list
  title='Groups'
  attributes=updatingRole.groups
  onDeleteAction=(route-action 'deleteGroup' 'DELETE_ACL_GROUP_FROM_ROLE')
  as |attr|
}}
  <td>{{attr.name}}</td>
{{/attr-list}}

{{/tab.pane}}

{{#tab.pane elementId="permissions" title="Permissions"}}
  {{#attr-form
    visibilityTitle="Add Permission"
    submitTitle="Add"
    submitAction=(route-action 'addPermission')
    validations=model.validations.addPermission as |f|
  }}
    {{f.select-field 'operation' 'deny read write'}}
    {{f.select-field 'xpath' 'XPath ID'}}
    {{f.text-field 'query'}}
  {{/attr-form}}
  {{#attr-list
    title='Permissions'
    attributes=model.aclRole.permissions
    onDeleteAction=(route-action 'deletePermission' 'DELETE_LOCATION_PREFERENCE')
    as |attr|
  }}
    <td>{{attr.operation}}</td>
    <td>{{attr.xpath}}</td>
    <td>{{attr.query}}</td>
  {{/attr-list}}
{{/tab.pane}}
</div>
{{/with}}
{{/bs-tab}}
{{/unless}}
