{{#menu-header title='Settings'}}
  <ul>
  <li> {{menu-item title='Properties' componentId='menu:Properties' onCheckAction=(action 'onCheck') onClickAction=(action 'onClick')}} </li>
  <li> {{menu-item title='ACLs' componentId='menu:ACLs' onCheckAction=(action 'onCheck') onClickAction=(action 'onClick')}} </li>
  <li> {{menu-item title='Permissions' componentId='menu:Permissions' onCheckAction=(action 'onCheck') onClickAction=(action 'onClick')}} </li>
  </ul>
{{/menu-header}}

{{menu-header title='Nodes' data=model.firstObject.nodes onCheckAction=(action 'onCheck') onClickAction=(action 'onClick')}}

{{menu-header title='Resources' data=model.firstObject.resources onCheckAction=(action 'onCheck') onClickAction=(action 'onClick')}}

<hr />

<button {{action 'forceReload'}}>Reload data</button>
<!-- @todo: checkboxes are not working -->

<div>
  {{#if isSelectedNode}}
    <h3>Editable form for Nodes</h3>

    Name: {{{ selectedComponent.name }}} <br />

    Cluster daemons:
    <ul>
      <li> Corosync: {{format-running selectedComponent.isCorosyncRunning}} ( {{format-enabled selectedComponent.isCorosyncEnabled}} ) </li>
      <li> Pacemaker: {{format-running selectedComponent.isPacemakerRunning}} ( {{format-enabled selectedComponent.isPacemakerEnabled}} ) </li>
      <li> Corosync: {{format-running selectedComponent.isPcsdRunning}} ( {{format-enabled selectedComponent.isPcsdEnabled}} ) </li>
    </ul>

    {{attr-list title='Node Attributes' attributes=selectedComponent.nodeAttributes onDeleteAction=(action 'deleteNodeAttribute') onAppendAction=(action 'appendNodeAttribute')}}
  {{/if}}
</div>
